<style>
    /* Pen-specific styles */
* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
}

section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  width: 60%;
}

.right-half {
  background-color: #b6701e;
  position: absolute;
  right: 0px;
  width: 40%;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
    <div class="right-half">
        <select id="foods" name="foods">
            <option>Enter your choice</option>
          </select>
        <button onclick="addRow()">Add item</button><br/><br/>
        <button onclick="handlebill()">Generate bill</button>

        <table border="1">           
            <tr>
                <th>Your order</th>
            </tr>   
        </table>
    </div>

    <div class="left-half">
            <section class="container">
                <h2>MENU</h2>
          <div class="left-half">
            <table id="customers">
                <tr>
                  <th>IMAGE</th>
                  <th>NAME</th>
                  <th>PRICE</th>
                </tr>
                <tr>
                  <td><img src="https://static.toiimg.com/thumb/54408184.cms?imgsize=148310&width=800&height=800" border=3 height=100 width=100></td></img></td>
                  <td>Paneer tikka masala</td>
                  <td>50</td>
                  </td>
                </tr>
                <tr>
                    <td><img src="https://www.cookwithmanali.com/wp-content/uploads/2020/05/Masala-Dosa-500x500.jpg" border=3 height=100 width=100></td></img></td>
                    <td>Masala Dosa</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td><img src="https://i.ndtvimg.com/i/2018-01/rice-idli_620x330_71514979375.jpg" border=3 height=100 width=100></td></img></td>
                    <td>Idli</td>
                    <td>35</td>   
                </tr>
                <tr>
                    <td><img src="https://static.toiimg.com/thumb/75581339.cms?width=1200&height=900" border=3 height=100 width=100></td></img></td>
                    <td>Fried rice</td>
                    <td>70</td>
                </tr>
                <tr>
                    <td><img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/beveragedaily.com/article/2020/01/31/what-next-for-lipton-and-pg-tips-unilever-s-strategic-tea-review/10657232-5-eng-GB/What-next-for-Lipton-and-PG-Tips-Unilever-s-strategic-tea-review_wrbm_large.jpg" border=3 height=100 width=100></td></img></td>
                    <td>Tea</td>
                    <td>20</td>
                </tr>
              </table>
              </div>
    </div>
    <h1>"The value for number is: " <span id="myText"></span></h1>
    <script>
        var dict = { 'Paneer tikka masala' : 50 , 
                 'Masala dosa' : 30 , 
                 'Tea' : 20,
                 'Fried rice': 68           
               };
        var my_liste=[];  
        var total=0; 
        function addRow()
                {
                    // get input values
                    var item = document.getElementById('foods').value;
                      
                      // get the html table
                      // 0 = the first table
                      var table = document.getElementsByTagName('table')[0];
                      
                      // add new empty row to the table
                      // 0 = in the top 
                      // table.rows.length = the end
                      // table.rows.length/2+1 = the center
                      var newRow = table.insertRow(table.rows.length);
                      
                      // add cells to the row
                      var cel1 = newRow.insertCell(0);
                      // add values to the cells
                      cel1.innerHTML = item;
                } 
            function handlebill()
            {            
                    var table = document.getElementsByTagName('table')[0];
                    var rows = table.rows;
                    for (var i = 1; i < rows.length; i++) {
                          var rowText = rows[i].firstChild.textContent;
                           my_liste[my_liste.length] = rowText;
                    }
                    for(var i=0;i<my_liste.length;i++){
                        for (let keys of Object.keys(dict)){
                            if (my_liste[i]==keys){
                                total+=dict[keys]
                            }
                        }
                    }
                    document.getElementById("myText").innerHTML = total; 
                    console.log(my_liste)
                    console.log(total)
            }
            function codeAddress() {
                 var select = document.getElementById("foods"); 
                for(let keys of Object.keys(dict)) {
                    var el = document.createElement("option");
                    el.text = keys;
                    el.value = keys;
                    select.add(el);
            }
        }
        window.onload = codeAddress;              
</script>