<link href='https://fonts.googleapis.com/css?family=Marko One' rel='stylesheet'>
    <style>
        *,
        *::before,
        *::after{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

ejs{
    font-family: 'Marko One', sans-serif;
}

img{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 0 1.5px;
}

.blog-post{
    width: 100%;
    max-width: 80rem;
    padding: 5 rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blog-post__img{
    min-width: 35rem;
    max-width: 35rem;
    height: 20rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post__img::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 30rem;
    left: 30rem;
    background: linear-gradient(to right, rgba(79, 172,254,.8),
    rgba(0,242,254. 0.8));
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: 0.8rem;
}

.blog-post__date span{
    display: block;
    content: rgba(0,0,0,.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post__title{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.blog-post__text{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, .7);
}
    </style>
    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://www.holidify.com/images/bgImages/BANGALORE.jpg" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Bangalore tour</h1>
            <p class="blog-post__text">
                Package Id: 20 <br>
                Hotel: The Oterra<br>
                Tourist places: Vidhana Soudha. MG Road, Bangalore Palace<br>
                Amount: 1900 for 1 night<br>
            </p>
            
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://www.indiaaheadnews.com/wp-content/uploads/2019/07/Hyderabad.jpg" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Hyderabad Tour</h1>
            <p class="blog-post__text">
                Package Id: 21<br>
                Hotel: Trident Hotel<br>
                Tourist places: Golconda Fort, Charminar, Hussain Sagar<br>
                Amount: 5440 for 5 night<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://www.culturalindia.net/iliimages/Mysore-Palace-ili-41-img-1.jpg" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Mysore Tour</h1>
            <p class="blog-post__text">
                Package Id: 22<br>
                Hotel: Grand Mecure<br>
                Tourist places: Brindavan Gardens, Mysore Zoo, Mysore Palace<br>
                Amount: 1400 for 1 night<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://lp-cms-production.imgix.net/2019-06/75243789.jpg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Agra Tour</h1>
            <p class="blog-post__text">
                Package Id: 23<br>
                Hotel: ITC Mughal<br>
                Tourist places: Agra Fort, Taj Mahal<br>
                Amount: 6700 for 4 nights<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://www.nativeplanet.com/img/2018/11/kochifacts-1542009080.jpg" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Kochi Tour</h1>
            <p class="blog-post__text">
                Package Id: 24<br>
                Hotel: Le Meridian<br>
                Tourist places: Cherrai Beach, Fort Kochi, Mattancherry Palace<br>
                Amount: 4231 for 2 night<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0UC-GKpnUlvTq3bwSG7bvWiwNEY2fGmQqmOPoSPFKLpSDKcDX&s" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Mumbai Tour</h1>
            <p class="blog-post__text">
                Package Id: 25<br>
                Hotel: Trident Hotel<br>
                Tourist places: Elephanta Caves, Gateway Of India<br>
                Amount: 4500 for 2 night<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://lp-cms-production.imgix.net/2019-06/80840681.jpg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Kolkata Tour</h1>
            <p class="blog-post__text">
                Package Id: 26<br>
                Hotel: ITC Sonar<br>
                Tourist places: Victoria Memorial, Indian Museum, Howrah Bridge<br>
                Amount: 100000 for 5 nights<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://surattourism.in/images/places-to-visit/header/shabari-dham-surat-tourism-entry-fee-timings-holidays-reviews-header.jpg" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Surat Tour</h1>
            <p class="blog-post__text">
                Package Id: 27<br>
                Hotel: Marriott Hotel<br>
                Tourist places: Gopi Talav, Surat Circle, Dumas Beach<br>
                Amount: 5500 for 3 nights<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLQQezD9Q1ODRRxxa9VU1XONPQ3RlJvNrPUJ_vm8F-loyZFvyw&s" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Ahmedabad Tour</h1>
            <p class="blog-post__text">
                Package Id: 28<br>
                Hotel: Shahpura House<br>
                Tourist places: Adalaj Stepwell, Kankaria LAke, Sabarmati Ashram<br>
                Amount: 3200 for 1 night<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8j7kNW1eoSmtwXhqT7fFQ6L2Rl4oZ67yztOsG4UQ4hGBBllQl&s" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Margao Tour</h1>
            <p class="blog-post__text">
                Package Id: 29<br>
                Hotel: Hotel City Comfort<br>
                Tourist places: Zalor Beach, Kolva Beach, Holy Spirit Church<br>
                Amount: 5500 for 4 nights<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6RuWlG81ftPM3glyh0Y0J31NcVgzKRFwFgUfiXvmN22Mfg6ot&s" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">New Delhi Tour</h1>
            <p class="blog-post__text">
                Package Id: 30<br>
                Hotel: Vivanta <br>
                Tourist places: Humayun Tomb, Red Fort, India Gate<br>
                Amount: 6500 for 4 nights<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://c1.staticflickr.com/4/3819/14302322374_aa25c90f53_b.jpg" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Chennai Tour</h1>
            <p class="blog-post__text">
                Package Id: 31<br>
                Hotel: Goldfinch Road<br>
                Tourist places: Ashtalaxmi Temple, Government Museum, Breezy Beech<br>
                Amount: 9000 for 6 nights<br>
            </p>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post__img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2lxiT_R6BI2mg5OyEjlkqkT00WTF5uqj1556cZDIzw5rX4jTkaQ&s" alt="">
        </div>
        <div class="blog-post__info">
            <h1 class="blog-post__title">Kanyakumari Tour</h1>
            <p class="blog-post__text">
                Package Id: 32<br>
                Hotel: The Gopivinas Grand<br>
                Tourist places: Thiruvalluvar Statue, Kanyakumari Beach<br>
                Amount: 4500 fr 2 nights<br>
            </p>
        </div>
    </div>
        <button type="submit"><a href=/users/booking>Book</button>
    </div>
    
